# docker-compose.prod.yml
version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: lumis_db_prod
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=saint_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=root
    restart: always

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: lumis_backend_prod
    command: gunicorn setup.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    expose:
      - 8000
    env_file:
      - .env  # Certifique-se de ter um arquivo .env na raiz com as credenciais do DB
    environment:
      - DB_HOST=db
      - DB_NAME=saint_db
      - DB_USER=postgres
      - DB_PASSWORD=root
    depends_on:
      - db
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: lumis_frontend_prod
    ports:
      - "80:80"
      - "443:443"
    volumes:
      # Monta os mesmos volumes para o Nginx poder servir os arquivos
      - static_volume:/app/staticfiles
      - media_volume:/app/media
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - backend
    restart: always

volumes:
  postgres_data:
  static_volume:
  media_volume:
